@page
@model Store.Pages.Item.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Agregar producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary">Editar</a>
                <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-secondary">Detalles</a>
                <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
